@use 'src/styles/vars';

.logo-category {
  width: 24em;
  padding: .6em;
  margin: 25px;
  position: relative;
  overflow: hidden;
  padding-bottom: 1em; 
  border-radius: 1em;
  @media (max-width: 1350px) {
    width: 22em;
  }
  @media (max-width: 850px) {
    width: 30em;
  }
}

.article__img {
  width: 100%;
  height: 20vh;
  object-fit: cover;
  border-radius: 1em 1em 0 0;
}

.fav {
  width: 3em;
  position: relative;
  float: right;
  padding: .5em;
  margin-top: 0.4em;
  margin-right: 0.4em;
}

.articles {
  text-align: center;
  margin: 6em auto auto auto;
  width: 90%;
}

.article {
  background-color: white;
  width: 24em;
  border: 1px solid #ccc;
  box-shadow: vars.$box-shadow;
  margin: 25px;
  position: relative;
  overflow: hidden;
  padding-bottom: 1em; 
  border-radius: 1em;
  height: 27em;

  @media (max-width: 1350px) {
    width: 22em;
  }
  @media (max-width: 850px) {
    width: 30em;
  }
}

.articles__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 90em;
  margin: auto;
}

.article__seemore {
  border: 1px solid #ccc;
  background-color: #3d5499;
  color: #fff;
  padding: .4em 0.8em;
  border-radius: 1em;
  position: relative;
  float: right;
  margin: 1em 1em 0 0;
}

.more__articles {
  position: relative;
  border: 1px solid #ccc;
  background-color: #6abfbd;
  color: white;
  border-radius: 1em;
  padding: 0.5em 1.2em;
  margin-bottom: 2em;
  display: inline-block;

  @media (max-width: 900px) {
    margin-bottom: 5em;
  }
}

.article__title {
  padding-bottom: 1em;
  padding-top: 1em;
  font-weight: 600;
  font-size: 1.3em;
  margin: 0 0.7em;
  text-align: left;
}

.article__excerpt {
  text-align: justify;
  font-size: 1em;
  padding: 0 1em;
  height: 7em;
  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
