@use 'src/styles/vars';
.createaccount {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  width: 40%;
  margin: auto;
  margin-top: 80px; 
}

.logotrackfit { // logo Trackfit
  width: 150px;
  margin: auto;
}

.createform {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 1em;
    margin-top: 1em;
}

label {
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}

.title {
  margin: auto;
  margin-top: 1em;
  font-size: 2em;
}

.button {
  margin-top: 1em;
  height: 4em;
  font-size: 1em;
  background-color: #3d5499;
  font-weight: bold;
  color: white;
  border: none;
}

.id {
  font-weight: bold;
  color: #3d5499;

}

@media (max-width:900px) { // mobile
  .createaccount {
    width:90%;
  }
}
