@use 'src/styles/vars';
 
  .header { // header englobe logo + compo navigation (en desktop uniquement) + compo searchbar + logo signin
    position:fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 4em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    box-shadow: vars.$box-shadow;
    z-index: 1;
  }

  .logo {
    width: 9em;
    margin: 1em;
  }
  
  .navigation--desktop {
    display: block;
  }

  .navigation--mobile {
    display: none;
  }
  
  .bloc-right { // bloc à droite, comprend searchbar + signin
    float: right;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  
  .signin {
    margin: 0 2em 0 0;

    &-link { // lien pour se loguer
      text-align: right;
    }

    &-img { // logo pour se loguer
      width: 2.5em;
    }
  }

@media (max-width:900px){ // mobile

  .navigation--desktop {
    display: none;
  }

  .navigation--mobile {
    display: block;
  } 
}
