@use 'src/styles/vars';

.statistics {
  text-align: center;
}

.statistic {
  background-color: white;
  width: 35em;
  border: 1px solid #ccc;
  border-radius: 2em;
  box-shadow: vars.$box-shadow;
  margin: 1em;
  position: relative;
  overflow: hidden;
  padding-bottom: 1em; 
  height: 18em;
  @media (max-width: 1350px) {
    width: 22em;
  }
}

.statistics__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}
 
.stats {
  width: 100vw;
  margin-top: 65px;
  padding: 0;

  &__menu { //dashboard__menu
    font-size: 1em;
    width: 100%;
    padding: 2em 3em 1em 1em;

    &-list { //dashboard__menu-list
      display: flex;
      justify-content: flex-end;
    }

    &-item { //dashboard__menu-item
      display: flex;
      align-items: center;
      height: 35px;
      margin: 0;
      padding: 1em;
      transition: 0.5s ease all;
      color: white;
      border-radius: vars.$full-radius;
      background-color: vars.$primary-color;

      &:not(:last-of-type) { //dashboard__menu-item:not(:last-of-type)
        margin-right: 1em;
      }

      &:hover { //dashboard__menu-item dashboard__menu-item:hover
        cursor: pointer;
        transition: 0.5s ease all;
        color: white;
        background-color: vars.$secondary-color;
        border-radius: 3em;
      }

      &-active { //dashboard__menu-item dashboard__menu-item-active
        color: white;;
        border-radius: 3em;
        background-color: vars.$secondary-color;
      }
    }
  }
}

.statistics {
  &__item {
    display: flex;
    align-items: center;
    flex: 1;
    flex-direction: column;
    text-align: center;
    background-color: white;
    height: 19em;
    position: relative;
    border-radius: 2em;
    box-shadow: vars.$box-shadow;

    @media screen and (max-width: 900px) {
      margin-bottom: 1em;
    }

    &:not(:last-of-type) {
      margin-right: 2em;

        @media screen and (max-width: 900px) {
        margin-right: 0;
        margin-bottom: 2em;
      }
    }
  }

  &__header {
    width: 100%;
    border-radius: 2em 2em 0 0;
    z-index: 0;

    &__food {border-top: 20px solid vars.$food-color;}
    &__water {border-top: 20px solid vars.$water-color;}
    &__sport {border-top: 20px solid vars.$sport-color;}
    &__sleep {border-top: 20px solid vars.$sleep-color;}
    &__weight {border-top: 20px solid vars.$weight-color;}
    &__profile {border-top: 20px solid lightgray;}
  }

  &__rounded-img {
    width: vars.$trackers-icons-width;
    box-shadow: vars.$box-shadow;
    border-radius: vars.$full-radius;
    margin: 2em 0;
  }

  &__modal-img {
    position: relative;
    width: 2.5em;
    left: 5em;
    top: 1em;

    @media screen and (max-width:900px) {
      left: 11em;
    }
  }
} 

.statistic h2 {
  font-weight: bold;
  width: 100%;
  margin-bottom: 1em;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.user-details__tags {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 1em;
}

.user-details__tag {
  font-size: 1em;
  margin: .3em;
  padding: .35em .7em;
  color: #fff;
  border-radius: 0.5em;
  background-color: #adacac;
  margin-bottom: 0.5em;
}
