@use 'src/styles/vars';

.dashboard {
  width: 100vw;
  margin-top: 65px;
  padding: 0;
  color: #4B5C6B;
}

.dashboard h2 {
  font-weight: bold;
  width: 100%;
  margin-bottom: 1em;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.dashboard h3 {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.dashboard__menu {
  font-size: 1em;
  width: 100%;
  padding: 1.7em;
}

.dashboard__menu-list {
  display: flex;
  justify-content: flex-end;
}

.dashboard__menu-item {
  display: flex;
  align-items: center;
  height: 35px;
  margin: 0;
  padding: 0 2em;
  transition: 0.5s ease all;
  color: #3D5499;
  border: #3D5499 1px solid;
  border-radius: 5px;
  background-color: white;

  @media (min-width: 200px) and (max-width: 900px) {
    padding: 0 1em;
  }
}
.dashboard__menu-item:not(:last-of-type) {
  margin-right: 1em;
}
.dashboard__menu-item:hover {
  cursor: pointer;
  transition: 0.5s ease all;
  color: white;
  border-color: #8dd7cf;
  background-color: #8dd7cf;
}
.dashboard__menu-item.dashboard__menu-item--active {
  color: white;
  background-color: #3D5499;
}
