@use 'src/styles/_vars';

.formAddTask {
  &_input {
    background-color: vars.$inputBackground;
    border: 1px solid #183129;
    -webkit-box-shadow: vars.$insetShadowInput;
    -moz-box-shadow: vars.$insetShadowInput;
    box-shadow: vars.$insetShadowInput;
    width: 100%;
    height: 4em;
    padding: 1em;
    font-size: 1.3em;
    color: #fff;
    &:focus {
      -webkit-box-shadow: vars.$insetShadowInputFocused;
      -moz-box-shadow: vars.$insetShadowInputFocused;
      box-shadow: vars.$insetShadowInputFocused;
    }
  }
}
