@use 'src/styles/vars';

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 34em;
  height: 60vh;
  margin: 8em auto;
  padding: 2em;
  background-color: white;
  border-radius: vars.$light-radius;
  box-shadow: vars.$box-shadow;

  @media (max-width:700px) {
    width:90%;
    margin: 5em auto;
  }
}

.log-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1em 0;
}

.log-label {
  margin: 0.5em 0;
  font-size: 1.2em;
  font-weight: bold;
}

.log-title {
  margin: 0;
  font-size: 2.7em;
  text-align: center;
}

.log-button {
  margin-top: 1em;
  height: 4em;
  font-size: 1em;
  font-weight: bold;
  color: white;
  border: none;
  background-color: vars.$primary-color;
}

.log-input {
  padding: vars.$input-padding;
  border: vars.$input-border;
  border-radius:vars.$input-radius;
  width: 100%;
  font-size:vars.$input-fontsize;
  margin:vars.$input-margin;
}

.log-id {
  color: vars.$primary-color;
  font-weight: bold;
}
