@use 'src/styles/vars';

.dashboard {
  width: 100vw;
  margin-top: 65px;
  padding: 0;
  color: #4B5C6B;

  & h2 { //dashboard h2
    font-weight: bold;
    width: 100%;
    margin-bottom: 1em;
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  &__menu { //dashboard__menu
    font-size: 1em;
    width: 100%;
    padding: 1.7em;

    &-list { //dashboard__menu-list
      display: flex;
      justify-content: flex-end;
    }

    &-item { //dashboard__menu-item
      display: flex;
      align-items: center;
      height: 35px;
      margin: 0;
      padding: 1em;
      transition: 0.5s ease all;
      color: white;
      border-radius: vars.$full-radius;
      background-color: vars.$primary-color;

      &:not(:last-of-type) { //dashboard__menu-item:not(:last-of-type)
        margin-right: 1em;
      }

      &:hover { //dashboard__menu-item dashboard__menu-item:hover
        cursor: pointer;
        transition: 0.5s ease all;
        color: white;
        background-color: vars.$secondary-color;
        border-radius: 3em;
      }

      &-active { //dashboard__menu-item dashboard__menu-item-active
        color: white;;
        border-radius: 3em;
        background-color: vars.$secondary-color;
      }
    }
  }

  &__content { //dashboard__content
    display: flex;
    flex-wrap: wrap-reverse;
    padding: 0;
    padding: 0 30px 30px;

    @media screen and (max-width: 1200px) {
      display: flex;
      flex-direction: column-reverse;
    }
  }

  &__left { //dashboard__left
    display: flex;
    flex: 3;
    flex-direction: column;
  }

  &__right { //dashboard__right
    display: flex;
    flex: 1;
    flex-direction: column;
    margin: 0 0 0 2em;
    padding: 1em;
    background-color: white;
    border-radius: 2em;
    box-shadow: vars.$box-shadow;
    height: 76vh; // 38em

    @media screen and (max-width: 1200px) {
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: row;
          margin: 0 0 2em;
          border-radius: 1em;
          height: 21em;
    }
  }
}
 
////////////////////////////////////////////////////////////////////////////////////////////

.trackers {
  display: flex;
  height: auto;
  margin-bottom: 2em;

  @media screen and (max-width: 900px) {
      flex-direction: column;
  }

  &__item {
    display: flex;
    align-items: center;
    flex: 1;
    flex-direction: column;
    justify-content: flex-start;
    padding-bottom: 3.5em;
    text-align: center;
    background-color: white;
    position: relative;
    border-radius: 2em;
    box-shadow: vars.$box-shadow;

    @media screen and (max-width: 900px) {
      margin-bottom: 1em;
    }

    & p { //trackers__item p
        padding: 0 10px;
    }

    &:not(:last-of-type) {
      margin-right: 2em;

        @media screen and (max-width: 900px) {
        margin-right: 0;
        margin-bottom: 2em;
      }
    }
  }

  &__header {
    width: 100%;
    border-radius: 2em 2em 0 0;
    z-index: 0;

    &__food {border-top: 20px solid vars.$food-color;}
    &__water {border-top: 20px solid vars.$water-color;}
    &__sport {border-top: 20px solid vars.$sport-color;}
    &__sleep {border-top: 20px solid vars.$sleep-color;}
    &__weight {border-top: 20px solid vars.$weight-color;}
  }

  &__rounded-img {
    width: vars.$trackers-icons-width;
    box-shadow: vars.$box-shadow;
    border-radius: vars.$full-radius;
    margin-bottom: 1em;
  }

  &__modal-img {
    position: relative;
    width: 2.5em;
    left: 5em;
    top: 1em;

    @media screen and (max-width:900px) {
      left: 11em;
    }
  }
} 

////////////////////////////////////////////////////////////////////////////////////////////

.favs-todo {
  height: 42vh; //21em
  display: flex;
  border-radius: 20px 20px 0 0;

  @media screen and (max-width: 900px) {
    flex-direction: column;
    height: auto;
  }
}

.favs,
.todolist {
  flex: 1;
  padding: 2em;
  border-radius: 2em;
  box-shadow: vars.$box-shadow;
  background-color: white;
}

.favs {
  overflow-y: scroll;
  margin-right: 2em;
  -webkit-scrollbar {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color:vars.$background-color;
  }

  @media screen and (max-width: 900px) {
    margin-right: 0;
    margin-bottom: 2em;
  }

  &__item {
    display: flex;
    align-items: stretch;
    height: 110px;
    margin-bottom: 1em;
    background-color: white;
    border: 1px solid vars.$background-color;
    border-radius: 20px;
  }

  &__overview {
    position: relative;
    overflow: hidden;
    flex: 1;
    max-width: 110px;

    & svg {
        font-size: 1.5em;
        position: absolute;
        top: 0.5em;
        left: 0.5em;
        cursor: pointer;
        color: #ccb8b8;
    }
  }

  &__thumbnail {
    max-width: none;
    height: 100%;
    border-radius: 20px 0 0 20px;
  }

  &__excerpt {
    flex: 3;
    padding: 1em;
    background-color: vars.$background-color;
    border-radius: 0 20px 20px 0;

    & p {
      font-size: 14px;
      line-height: 1.6;
      display: block;
      display: -webkit-box;
      overflow: hidden;
      height: 67.2px;
      margin: 0 auto !important;
      text-overflow: ellipsis;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
    }
  }
}

.todolist {
  overflow-y: scroll;
  flex: 1;
  max-height: 365px;

  @media screen and (max-width: 900px) {
    margin-right: 0;
    margin-bottom: 4em;
    height: max-content;
  }

  &__header {
    display: flex;
  }

  &__item {
    font-size: 1.2em;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 2em;
    background-color: vars.$background-color;
    border-radius: 1em;

    &:not(:last-of-type) {
      margin-bottom: 10px;
    }

    & span {
      flex: 8;
    }
  }

  &__checkbox {
    color: #3d5499;
    width: 2em;
    height: 1em;
  }

  &__modalplus-img {
    position: relative;
    width: 1.5em;
    top: -0.5em;
    right: -1em;
  }

  &__modaltrash-img {
    position: relative;
    width: 1em;
    right: 1em;
 }
}

////////////////////////////////////////////////////////////////////////////////////////////

.user-details {
  text-align: center;
  flex: 2;

  &__picture {
    width: 8em;
    border-radius: vars.$full-radius;
    box-shadow: vars.$box-shadow;
    margin: 1em;
  }

  &__infos {
    align-items: center;
  }

  &__tags {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 1em;
  }
  
  & &__tag {
    font-size: 12px;
    margin: 0.3em;
    padding: 0.5em 0.7em;
    color: white;
    border-radius: 5px;
    background-color: #4B5C6B;
  }
}

.user-stats {
  text-align: center;
  flex: 2;
  margin: 2em;

  &__item {
    display: flex;
    flex-direction: column;
    text-align: left;

    & label {
      font-size: 12px;
      flex: 1;
    }

    & & label, & progress {
      margin-right: 5px;
    }

    & progress {
      flex: 3;
    }

    & span {
      font-size: 1em;
      margin-top: 0.6em;
      -webkit-box-flex: 2;
      flex: 5;

      @media screen and (max-width: 1300px) {
          font-size: 0.8em;
      }
    }
  }

  &__advices {
    font-size: 0.9em;
    text-align: left;
    margin-bottom: 0.5em;
  }
}

progress[value] {
  -webkit-appearance: none;
  appearance: none;
  height: 0.8em;

  &::-webkit-progress-bar {
    align-self: stretch;
    border: 1px solid vars.$background-color;
    border-radius: 1em;
    background-color: vars.$background-color;
  }

  &::-webkit-progress-value {
    position: relative;
    border-radius: 1em;
  }
}

.progress-food[value]::-webkit-progress-value {
  background-color: vars.$food-color;
}
.progress-sport[value]::-webkit-progress-value {
  background-color: vars.$sport-color;
}
.progress-sleep[value]::-webkit-progress-value {
  background-color: vars.$sleep-color;
}
.progress-water[value]::-webkit-progress-value {
  background-color: vars.$water-color;
}
.progress-weight[value]::-webkit-progress-value {
  background-color: vars.$weight-color;
}
